/* Select2 Overrides */

.select2-container .select2-selection--single {
    height: calc(1.5em + 0.75rem + 2px);
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 0;
    margin: .25rem .25rem .25rem 0;
    height: 1.375rem;
    line-height: 1.375rem;
}

.select2-container .select2-dropdown {
    border-color: #e1e1e1;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.select2-container .select2-dropdown .select2-search__field {
    padding: .25rem .75rem;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    border-radius: 0.25rem;
    box-shadow: none;
}

.select2-container .select2-dropdown .select2-search__field:focus {
    border-color: #bfcded;
    box-shadow: 0 0 0 0.2rem rgba(92, 128, 209, 0.25);
    outline: 0;
}

.select2-container--default .select2-selection--single {
    border-color: #e1e1e1;
    border-radius: 0.25rem;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0.75rem;
    height: calc(1.5em + 0.75rem + 2px);
    line-height: 1.5;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: calc(1.5em + 0.75rem + 2px);
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #6c757d;
}

.select2-container--default .select2-selection--multiple {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    border-color: #e1e1e1;
    border-radius: 0.25rem;
    min-height: calc(1.5em + 0.75rem + 2px);
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--single,
.select2-container--default.select2-container--open .select2-selection--multiple,
.select2-container--default.select2-container--open .select2-selection--single {
    border-color: #bfcded;
    box-shadow: 0 0 0 0.2rem rgba(92, 128, 209, 0.25);
    outline: 0;
}

.is-valid + .select2-container--default .select2-selection--single,
.is-valid + .select2-container--default .select2-selection--multiple,
.is-valid + .select2-container--default.select2-container--focus .select2-selection--single,
.is-valid + .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #46c37b;
}

.is-valid + .select2-container--default.select2-container--focus .select2-selection--single,
.is-valid + .select2-container--default.select2-container--focus .select2-selection--multiple,
.is-valid + .select2-container--default.select2-container--open .select2-selection--single,
.is-valid + .select2-container--default.select2-container--open .select2-selection--multiple {
    box-shadow: 0 0 0 0.2rem rgba(70, 195, 123, 0.25);
}

.is-invalid + .select2-container--default .select2-selection--single,
.is-invalid + .select2-container--default .select2-selection--multiple,
.is-invalid + .select2-container--default.select2-container--focus .select2-selection--single,
.is-invalid + .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #d26a5c;
}

.is-invalid + .select2-container--default.select2-container--focus .select2-selection--single,
.is-invalid + .select2-container--default.select2-container--focus .select2-selection--multiple,
.is-invalid + .select2-container--default.select2-container--open .select2-selection--single,
.is-invalid + .select2-container--default.select2-container--open .select2-selection--multiple {
    box-shadow: 0 0 0 0.2rem rgba(210, 106, 92, 0.25);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin: .25rem .25rem .25rem 0;
    height: 1.75rem;
    line-height: 1.75rem;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: #5c80d1;
    border: none;
    border-radius: 0.25rem;
    padding: 0 8px 0 2px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    /*margin-right: 5px;*/
    color: rgba(255, 255, 255, 0.5);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: rgba(255, 255, 255, 0.75);
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: #e1e1e1;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #5c80d1;
}

.select2-container--default .select2-search--inline .select2-search__field {
    padding-right: 0;
    padding-left: 0;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-shadow: none;
}

select.select2 + span .select2-selection span {
    border-color: #f5f5f5;
    background-color: transparent;
    padding: 0px 6px;
    border-radius: 0.3rem;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding-right: 0.4rem;
    padding-left: 0.4rem;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    border-color: #f5f5f5;
    background-color: #f5f5f5;
    height: auto;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple {
    border-color: #f5f5f5;
    background-color: #f5f5f5;
    height: auto;
    min-height: 40px;
}

.select2-container .select2-search--inline .select2-search__field {
    margin: .5rem .25rem .25rem 0;
    height: 1.375rem;
    line-height: 1.375rem;
    font-size: 1.1rem;
    color: #777;
}

table.dataTable tbody td .nav-items i {
    padding: 0;
    cursor: inherit;
    color: inherit;
    border-radius: 0;
}

table.dataTable tbody td .nav-items i:hover {
    background-color: transparent;
}

/* Dismissible Notification */

li.notification-dismissible button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: -1px 10px 0 0;
}

li.notification-dismissible .close {
    float: right;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}