/**
 * ————————————————————————————————————————————————————————————————————————————————
 * WEBTIGERS Copyright Notice
 * ————————————————————————————————————————————————————————————————————————————————
 *
 *  Copyright © 2020 WebTigers
 *  All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains the property of WebTigers.
 * The intellectual and technical concepts contained herein are proprietary to
 * WebTigers and may be covered by U.S. and Foreign Patents, patents in process, and
 * are protected by trade secret or copyright law. Dissemination of this information
 * or reproduction of this material is strictly forbidden unless prior written
 * permission is obtained from WebTigers.
 *
 * See the LICENSE.txt for full licensing information governing the use of this
 * information and software.
 */

/* TIGER Custom CSS */

/* Tiger Utility Styles */

.hide {
    display: none !important;
}

.red {
    color: red;
}

.green {
    color: green;
}

.gray, .grey {
    color: gray;
}

form .deleted {
    color: red;
    opacity: 0.5;
}

/* Tiger Logos */

i.tiger.tiger-logo-tiny {
    background-image: url("/assets/core/media/images/tiger_40x40_logo.png");
    background-size: contain;
    display: inline-block;
    height: 25px;
    width: 25px;
    margin: 0 0 -5px 0;
}

/* Custom Styles */

.block.block-fx-shadow-dark {
    box-shadow: 0 0 1.8rem #343434;
    opacity: 1;
}

form span.select2-container {
    width: 100% !important;
}

select.select2 + span .select2-selection--single {
    height: auto;
    border: none;
}

select.select2 + span .select2-selection span {
    border-color: #f5f5f5;
    background-color: #f5f5f5;
    padding: 6px;
    border-radius: 0.3rem;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 16px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #6e767e !important;
    height: calc(1.5em + .75rem + 6px);
    font-size: 1rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 5px !important;
    height: 38px !important;
}

/* Messages */
div.alert  i {
    margin-right: 10px;
}

/* Form Controls */

.form-control {
    transition: border 0.4s;
    transition: background 0.4s;
}

.form-group .invalid-feedback {
    padding: 0 16px;
}

.message-container {
    overflow: auto;
}

.invalid-feedback {
    display: inline-block;
    width: 100%;
    margin-top: .5rem;
    font-size: .875rem;
    color: #d26a5c;
}

form .boiler-plate p {
    position: relative;
    overflow: auto;
}

form .form-ids p span,
form .boiler-plate p span {
    display: inline-block;
    float: right;
    text-align: right;
}

.select2-container--default .select2-selection--multiple.is-invalid,
.select2-container--default .select2-selection--single.is-invalid,
.select2-container--default.select2-container--focus .select2-selection--multiple.is-invalid,
.select2-container--default.select2-container--focus .select2-selection--single.is-invalid {
    border-color: #d26a5c;
    background-color: #d26a5c;
}

button:disabled {
    cursor: not-allowed !important;
}


/* Nav Tabs Wizard */
a.nav-link.is-invalid {
    border-color: #fae6e3 !important;
    background-color: #fae6e3 !important;
}


/* Block Special Effects */

.block.block-mode-loading .block-header,
.block.block-mode-loading .block-content,
.block.block-mode-loading .nav-tabs {
    opacity: .05;
}

/* Modals */

.modal-backdrop.show {
    opacity: 0.35;
}

/* Tooltips */
form .desc-info {
    float: right;
    color: #777777;
}


/* Password Strength Classes */
.password-html {
    font-size: 12px;
}

.password-html .progress {
    margin-bottom: 5px;
    height: inherit;
    font-size: inherit;
    background-color: #ebebeb;
    border-radius: 2px;
}

.password-html .progress-bar {
    transition: background-color 1s, width .5s;
    font-size: 12px;
}

.password-html p,
.password-html ul {
    margin: 5px;
}

.form-message i,
.password-html li i {
    display: inline-block;
    margin-right: 5px;
}

/* DataTables CSS Customizations */

.block-title {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1.75rem;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.75;
    text-transform: uppercase;
    letter-spacing: .0625rem;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    right: 0;
    content: "";
}

table.dataTable thead th {
    font-weight: 700;
}

table.dataTable tr {
    min-height: 72px;
}

table.dataTable tbody td {
    font-weight: 600;
    padding: 1.4em;
    vertical-align: middle;
}

table.dataTable tbody td i {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    color: #5c80d1;
    border-radius: 4px;
}

table.dataTable tbody td i:hover {
    color: #2c4e9b;
    background-color: #b5d0eb;
}

table.dataTable tbody td i.fa-spin:hover {
    background-color: transparent;
}

/* Media Gallery */

div.options-overlay-content buttton {
    margin: 10px 5px;
}

/* Address Lookup */

.address-lookup-spinner {
    float: right;
    margin: -27px 0 0 0;
}

#address-panel ul {
    list-style: none;
    padding: 0;
}

#address-panel ul li {
    padding: 5px;
    margin: 2px 0;
    border-bottom: 1px solid #aaa;
    cursor: pointer;
    border-radius: 0.3rem;
    border-color: #eaf5e6;
    background-color: #eaf5e6;
}

#address-panel ul li:hover {
    border-color: #daf5e6;
    background-color: #daf5e6;
}

form .overlay-container {
    position: relative;
}

form .overlay {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 10;
    opacity: 0.8;
}

label.primary-address {
    margin-top: 38px;
}