/* TIGER Customer CSS */

/* Custom Styles */
.block.block-fx-shadow-dark {
    box-shadow: 0 0 1.8rem #343434;
    opacity: 1;
}

select.select2 + span .select2-selection--single {
    height: auto;
    border: none;
}

select.select2 + span .select2-selection span {
    border-color: #f5f5f5;
    background-color: #f5f5f5;
    padding: 6px;
    border-radius: 0.3rem;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 16px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #6e767e !important;
    height: calc(1.5em + .75rem + 6px);
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 5px !important;
    height: 38px !important;
}