/* */
div.media {
    width: 300px;
    height: 300px;
}
div.media.icon {
    background-image: url('/assets/media/img/doc_icons.jpg');
    background-repeat: no-repeat;
}

div.media.icon.pdf {
    background-position-x: 10px;
    background-position-y: 10px;
}