/* TIGER Icon Select */

div.icon-display {
    position: relative;
}

/* Selected Icon */

div.icon-container {
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 1px solid #ebebeb;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}

div.icon-container span {
    display: inline-block;
    padding: 15px 10px;
    height: 80px;
    width: 80px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    border-radius: 4px;
}

div.icon-container span i {
    font-size: 48px;
    color: #777;
}

div.icon-list span:hover {
    background-color: #ddd;
}

/* Icon List Box */

div.icon-list-container {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    height: 400px;
    width: 300px;
    border: 1px solid #ebebeb;
    cursor: default;
    background-color: white;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

input#icon-search {
    display: inline-block;
    margin: 5px;
    width: 288px;
}

div.icon-list {
    height: 350px;
    width: 100%;
    overflow-y: scroll;
}

div.icon-list span {
    display: inline-block;
    padding: 8px;
    height: 48px;
    width: 48px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    border-radius: 4px;
}


div.icon-list span i {
    font-size: 28px;
    color: #777;
}

div.icon-list span i.none {
    visibility: hidden;
}

div.icon-list-container .input-group-append {
    margin: 5px 5px 5px -5px;
}