/* Account CSS */

/* Profile Avatar */

#select-avatar {
    margin-top: 20px;
}

.options-container {
    cursor: pointer;
}

.avatar-remove {
    display: inline-block;
    width: 125px;
    margin-top: 5px;
}

.avatar-container {
    position: relative;
}
