/* Account CSS */

/* Profile Avatar */

#select-avatar {
    margin-top: 20px;
}

.options-container {
    cursor: pointer;
}

.avatar-remove {
    display: inline-block;
    width: 125px;
    margin-top: 5px;
}

.avatar-container {
    position: relative;
}

#address-panel ul {
    list-style: none;
    padding: 0;
}

#address-panel ul li {
    padding: 5px;
    margin: 2px 0;
    border-bottom: 1px solid #aaa;
    cursor: pointer;
    border-radius: 0.3rem;
    border-color: #eaf5e6;
    background-color: #eaf5e6;
}

#address-panel ul li:hover {
    border-color: #daf5e6;
    background-color: #daf5e6;
}

.overlay-container {
    position: relative;
}

.overlay {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 10;
    opacity: 0.8;
}

label.primary-address {
    margin-top: 38px;
}

.address-lookup-spinner {
    float: right;
    margin: -27px 0 0 0;
}