body.body_dark {
  color: $black_150;

  h1, h2, h3, h4, h5, h6,
  .topics-filter .nav-item .nav-link.active, .topics-filter .nav-item .nav-link:hover, .learn_btn,
  .forum_l_inner .forum_head .left li, .pagination_inner .go_btn input, .text_btn.dark_btn {
    color: #fff;
  }

  .ticket_categories li a, .categorie_list li a, .common_question_area .question_menu .nav li a {
    color: $black_150;
  }

  .forum_footer_area, .doc_footer_top {
    background: #010101;
  }
  .right-nav .js-darkmode-btn ion-icon.dark-mode {
    display: block;
  }
  .right-nav .js-darkmode-btn ion-icon.light-mode {
    display: none;
  }

  .body_wrapper, .img_modal, .doc_features_area, .blog_top_post, .video_slider_area {
    background: #131417;
  }

  .doc_community_area, .common_question_area, .freelancing_list, .asking_area {
    background: $black_800;
  }

  .blog_grid_inner, .dark_menu .right-nav .nav_btn.tp_btn {
    border-color: rgba(255,255,255,0.3);
    color: #f5f5f5 !important;
  }

  .search-banner-light {
    background: radial-gradient(circle, #444857, #2c303a);
  }

  .blog_top_post.blog_classic_item, .h_item, .common_question_area .question_menu .topic_list_item, .asking_area .asking_item, .status_area .status_inner,
  .r_heading, .l_tags_wd .nav li a, .page-link, .forum_l_inner .forum_head, .answer-action, .changelog_info .line, .doc_features_inner,
  .recommended_item, .categories_guide_item, .bg_color, .doc_about_widget ul li a, .blog_grid_post, blockquote, .comments_widget li .text,
  .cheatsheet_item, .ab_wd .nice_select, .breadcrumb_area_three, .blog_post_author, .w_tag_list li a, .ticket_categories li .count {
    background: #2c303a;
  }

  .navbar_fixed.menu_one {
    background: #171544;
    box-shadow: 0 0 25px 5px #000;
  }

  .dark_menu:not(.navbar_fixed) .menu_toggle .hamburger span, .dark_menu .menu_toggle .hamburger-cross span,
  .menu_one.dark_menu .hamburger span {
    background: #fff;
  }

  .community-post.style-two:hover, .header_search_form .input-wrapper input {
    background: #252830;
  }

  .pagination_inner .go_btn input,
  .search_form .form-control, .ab_wd .nice_select {
    background: #5a5f73;
    border-color: #2c303a;
  }

  .community-post.style-two:not(:last-child), .bb-radius, .post-header, .community-post.style-two:hover, .doc_footer_bottom, .ticket_categories li:not(:last-child),
  .single_list, .comments_widget li .text, .common_question_area .question_menu .topic_list_item, .footer_copyright,
  .pagination_inner .go_btn .input-group-append button, .forum_l_inner .forum_head, .r_heading, .user_list_wd, .navbar-nav li, .comment_list .navbar-nav li, .question_list_wd, .forum_l_inner, .forum_body .topic_list li {
    border-color: #2c303a;
  }

  .doc_features_item {
    border-color: $black_700;
  }

  .ab_wd .nice_select span {
    color: $black_150;
  }

  .search_form button {
    color: #8f94a6;
  }

  .first_logo {
    display: none;
  }

  .white_logo {
    display: block !important;
  }

  .header_logo img.sticky_logo {
    display: none;
  }

  /** === Sticky Menu Navbar === **/
  .sticky_menu {
    .navbar-brand img {
      display: none;
    }

    .navbar-brand img + img {
      display: block;
    }

    .menu_one, .menu > .nav-item.submenu .dropdown-menu, .menu > .nav-item.submenu .dropdown-menu:before {
      background: #252830;
    }

    .menu > .nav-item.submenu .dropdown-menu, .menu > .nav-item.submenu .dropdown-menu:before {
      border-color: #5a5f73;
    }

    .menu_one .menu > .nav-item .nav-link, .menu > .nav-item.submenu .dropdown-menu .nav-item .nav-link h5 {
      color: #fff;
    }
  }
}