/*font Variables*/
$rob: "Roboto", sans-serif;
$great: "G    reat Vibes", cursive;

/*=================== fonts ====================*/
@import url("https://fonts.googleapis.com/css?family=Great+Vibes|Roboto:300,400,500,700,900&display=swap");

$h_title: #1d2746;
$p_color: #6b707f;
$black_100: #d6d9dc;
$black_150: #c8ccd0;
$black_200: #bbc0c4;
$black_300: #7d848d;
$black_350: #9199a1;
$black_400: #848d95;
$black_500: #6a737c;
$black_600: #535a60;
$black_700: #3c4146;
$black_750: #2f3337;
$black_800: #242729;
$black_900: #0c0d0e;
$brand_color : #4c4cf1;
$baseColor2: #4c4cf1;
$hover3: #c6e7f7;

// Mixins
@mixin transition(
  $property: all,
  $duration: 300ms,
  $animate: linear,
  $delay: 0s
) {
  transition: $property $duration $animate $delay;
}

/**=== Functions ===**/
@function brand_color_rgba($alpha) {
  @return rgba(76, 76, 241, $alpha);
}

// Placeholder Mixins

@mixin placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

.col-md-offset-right-1,
.col-lg-offset-right-1 {
  margin-right: 8.33333333%;
}