/*
Tiger Template CSS
Author: WebTigers
Experimental UI for parallax pages.
*/

@import "/assets/core/fonts/stylesheet.css";

body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 'Helvetica Neue', sans-serif;
    font-family: 'Helvetica Neue', sans-serif;
    color: #777;
    background-color: #02040F;
}

.parallax {
    position: relative;
    opacity: 1.0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-origin-1 {
    background-image: url("/assets/core/media/images/origin_header_1.jpg");
    min-height: 100%;
}

.bg-origin-2 {
    background-image: url("/assets/core/media/images/origin_header_2.jpg");
    min-height: 100%;
}

.bg-origin-3 {
    background-image: url("/assets/core/media/images/img_parallax3.jpg");
    min-height: 400px;
}

/* Font Weights */

.font-w200 { font-weight: 200; } /* thin */
.font-w300 { font-weight: 300; } /* light */
.font-w400 { font-weight: 400; } /* normal */
.font-w500 { font-weight: 500; } /* enhanced */
.font-w600 { font-weight: 600; } /* semi-bold */
.font-w700 { font-weight: 700; } /* bold */
.font-w800 { font-weight: 800; } /* extra bold */
.font-w900 { font-weight: 900; } /* heavy */

/*  */

.caption {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;
}

h1, h4 {
    color: #fff;
    font-family: "Helvetica Neue";
    line-height: 1.2em;
}

h1 {
    font-size: 12.0em;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-size: 9.0em;
    font-weight: 600;
    margin: 0;
}

h4 {
    font-size: 3vw;
    font-weight: 300;
    margin: 0;
}

@media only screen and (max-device-width: 1366px) {

    .parallax {
        background-attachment: scroll;
    }

}

@media only screen and (max-device-width: 736px) {

    .caption h1 {
        font-size: 6.0em;
    }

    .caption h4 {
        font-size: 1.6em;
    }

}
